/* * { outline: 1px solid red;
} */

body {
    background: radial-gradient(
            circle at center,
            rgba(241, 210, 70, 0.98),
            rgba(250, 176, 103, 0.87)
    );
}

.btn-action {
    width: 100px;
}

.text-center {
    text-align: center;
}

.logo {
    width: 500px;
}
